POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=postgis

PGUSER=username
PGPASSWORD=password
PGDATABASE=postgis
PGHOST=localhost
PGPORT=5439

DOCKER_BUILDKIT=1
BUILDKIT_INLINE_CACHE=1

# Host-script defaults.
PGSTAC_BUILD_POLICY=always
PGSTAC_FAST=0
PGSTAC_WATCH=0
PGSTAC_STRICT=1

# Migration helper defaults.
# PGSTAC_VERSION=0.9.11
# PGSTAC_FROM_VERSION=0.9.10
# PGSTAC_TO_VERSION=0.9.11
# PGSTAC_OVERWRITE=0
# PGSTAC_DEBUG=0