[project]
name = "pypgstac"
version = "0.9.2"
description = "Schema, functions and a python library for storing and accessing STAC collections and items in PostgreSQL"
readme = "README.md"
requires-python = ">=3.8"
license = "MIT"
authors = [
    {name = "David Bitner", email = "bitner@dbspatial.com"},
]
keywords = ["STAC", "Postgresql", "PgSTAC"]
classifiers = [
    "Intended Audience :: Developers",
    "Intended Audience :: Information Technology",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dependencies = [
    "cachetools>=5.0.0",
    "fire>=0.4.0",
    "hydraters>=0.1.0",
    "orjson>=3.6.0",
    "plpygis>=0.2.0",
    "pydantic-settings>=2.0.0",
    "python-dateutil>=2.8.0",
    "smart-open>=4.2.0",
    "tenacity>=8.0.0",
    "version-parser>=1.0.0",
]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-cov",
    "pystac[validation]>=1.0.0",
    "types-cachetools",
]
dev = [
    "black",
    "mypy",
    "ruff",
    "pre-commit",
]
psycopg = [
    "psycopg[binary]>=3.1",
    "psycopg-pool>=3.1",
]
migrations = [
    "psycopg2-binary",
    "migra"
]


[project.urls]
Homepage = "https://stac-utils.github.io/pgstac/"
Documentation = "https://stac-utils.github.io/pgstac/"
Issues = "https://github.com/stac-utils/pgstac/issues"
Source = "https://github.com/stac-utils/pgstac"
Changelog = "https://stac-utils.github.io/pgstac/release-notes/"

[project.scripts]
pypgstac = "pypgstac.pypgstac:cli"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.coverage.run]
branch = true
parallel = true

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
    # "D",  # pydocstyle
    "C4", # flake8-comprehensions
    "T20", # flake8-print
    # "PT", # flake8-pytest-style
    "Q", # flake8-quotes
    # "SIM", # flake8-simplify
    "DTZ", # flake8-datetimez
    "ERA", # eradicate
    "PLC",
    "PLE",
    # "PLR",
    "PLW",
    "COM", # flake8-commas
]
ignore = [
    # "E501",  # line too long, handled by black
    "B008",  # do not perform function calls in argument defaults
    "C901",  # too complex
    "B905",
]

[tool.ruff.lint.isort]
known-first-party = ["pypgstac"]

[tool.mypy]
strict_optional = true
ignore_missing_imports = true
disallow_untyped_defs = true
namespace_packages = true

[tool.pydocstyle]
select = "D1"
match = "(?!test).*.py"
